.photo-details-modal-overlay {
  /* Ensure there's a style for the overlay, usually it's semi-transparent and covers the entire viewport. */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Example semi-transparent black */
}

.photo-details-modal {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
  width: 70%;
  overflow-y: scroll;
  padding: 24px;
}


.larger-photo-container .photo {
  width: 100%;
  height: 100%;
  padding: 0cm;
}

.larger-photo-container .photo-list-item {
  padding: 0 ; /* Remove padding */
  border: 0 ;
  background-color: white;
}



.photo-details-modal__close-button {
  background-color: white;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 16px;
  margin-top: 16px;
}

.photo-details-modal__similar-photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.photo-details-modal__images {
  margin-left: 36px;
  margin-top: 8px;
}

.photo-details-modal__image {
  max-width: 95%;
  border-radius: 8px;
}

.photo-details-modal__top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
  margin-top: 8px;
  align-items: center;
}

.photo-details-modal__photographer-details {
  display: flex;
  font-size: 16px;
}

.photo-details-modal__header {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 90%;
}